<mat-card>
  <mat-card-header style="line-height: 40px;">
    <mat-card-title>
      {{metadata?.title}}
    </mat-card-title>

    <span class="fill-remaining-space"></span>
    <mat-card-actions>
      <!--<button mat-icon-button [matMenuTriggerFor]="menu" *ngFor="let tool of metadata.menuItems">-->
        <!--<mat-icon color="primary" [svgIcon]="tool.icon"></mat-icon>-->
      <!--</button>-->

      <!--<span *ngFor="let tool of metadata.menuItems">-->

    <!--<button mat-icon-button [color]="color" [routerLink]="[tool.routerLink]" *ngIf="tool.routerLink">-->
             <!--<mat-icon [svgIcon]="tool.icon"></mat-icon>-->
      <!--<small *ngIf="showLabels" style="display: block;">{{tool.label}}</small>-->
    <!--</button>-->


    <!--<a mat-icon-button [color]="color" [href]="[tool.externalUrl]" *ngIf="tool.externalUrl" target="_blank">-->
      <!--<mat-icon [svgIcon]="tool.icon"></mat-icon>-->
      <!--<small *ngIf="showLabels" style="display: block;">{{tool?.label}}</small>-->
    <!--</a>-->

    <!--<a mat-icon-button [color]="color" *ngIf="!tool.routerLink &&  !tool.externalUrl">-->
      <!--<mat-icon [svgIcon]="tool.icon"></mat-icon>-->
      <!--<small *ngIf="showLabels" style="display: block;">{{tool?.label}}</small>-->
    <!--</a>-->
  <!--</span>-->


      <button mat-icon-button [matMenuTriggerFor]="menu" >
        <mat-icon color="primary">more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" fxFlex fxLayoutAlign="column stretch" >
        <app-tool color="primary" [tool]="item" *ngFor="let item of metadata.menuItems" [showLabels]="true"></app-tool>
        <!--<button mat-menu-item *ngFor="let item of metadata.menuItems">-->
          <!--<mat-icon [svgIcon]="item.icon"></mat-icon>-->
          <!--<span>{{item.label}}</span>-->
        <!--</button>button-->
      </mat-menu>
    </mat-card-actions>


  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content style="padding-top: 1rem;">
    <ng-content></ng-content>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>

    <app-tool-group [tools]="metadata.tools" color="accent"></app-tool-group>
  </mat-card-actions>
</mat-card>
