
<app-card [metadata]="cardDetadata" >
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vestibulum velit rutrum cursus auctor.
        Suspendisse a luctus orci, vitae consectetur lacus. Mauris rutrum sapien non tortor fringilla suscipit.
        Ut consectetur neque nec urna fringilla consectetur. Suspendisse sed interdum dui. Curabitur feugiat
        tortor sed lobortis cursus. Fusce aliquet hendrerit ullamcorper. Vivamus sollicitudin volutpat lacus in
        convallis. Suspendisse eget nibh tincidunt, fringilla odio et, venenatis libero. Vestibulum lorem
        mauris, porta ac porttitor sit amet, imperdiet nec dolor. Donec lorem felis, pulvinar ac metus sed,
        dapibus scelerisque risus. Sed nec nibh a leo dapibus rutrum. Donec nisi eros, volutpat ac fringilla
        vitae, ullamcorper sit amet orci.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vestibulum velit rutrum cursus auctor.
        Suspendisse a luctus orci, vitae consectetur lacus. Mauris rutrum sapien non tortor fringilla suscipit.
        Ut consectetur neque nec urna fringilla consectetur. Suspendisse sed interdum dui. Curabitur feugiat
        tortor sed lobortis cursus. Fusce aliquet hendrerit ullamcorper. Vivamus sollicitudin volutpat lacus in
        convallis. Suspendisse eget nibh tincidunt, fringilla odio et, venenatis libero. Vestibulum lorem
        mauris, porta ac porttitor sit amet, imperdiet nec dolor. Donec lorem felis, pulvinar ac metus sed,
        dapibus scelerisque risus. Sed nec nibh a leo dapibus rutrum. Donec nisi eros, volutpat ac fringilla
        vitae, ullamcorper sit amet orci.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vestibulum velit rutrum cursus auctor.
        Suspendisse a luctus orci, vitae consectetur lacus. Mauris rutrum sapien non tortor fringilla suscipit.
        Ut consectetur neque nec urna fringilla consectetur. Suspendisse sed interdum dui. Curabitur feugiat
        tortor sed lobortis cursus. Fusce aliquet hendrerit ullamcorper. Vivamus sollicitudin volutpat lacus in
        convallis. Suspendisse eget nibh tincidunt, fringilla odio et, venenatis libero. Vestibulum lorem
        mauris, porta ac porttitor sit amet, imperdiet nec dolor. Donec lorem felis, pulvinar ac metus sed,
        dapibus scelerisque risus. Sed nec nibh a leo dapibus rutrum. Donec nisi eros, volutpat ac fringilla
        vitae, ullamcorper sit amet orci.</p>
</app-card>
