<div *ngIf="breadcrumbs && breadcrumbs.length">
    <span *ngFor="let x of breadcrumbs">
    <a routerLink="/" class="mat-tab-link" style="text-decoration: none">app</a>
    <span>&nbsp;/&nbsp;</span>
  </span>

  <span *ngFor="let x of breadcrumbs; index as i">
   <ng-container *ngIf="x.url !== '/home' && x.url !== '/'">
     <a [routerLink]="x?.url" class="mat-tab-link" style="text-decoration: none">{{x?.label}}</a>
      <span *ngIf="i < breadcrumbs.length">&nbsp;/&nbsp;</span>
   </ng-container>
  </span>
</div>
